@font-face {
	font-family: "HandilPro-Medium";
	src: url("../fonts/HandilPro-Medium.otf") format("opentype");
	/* Include other font formats for better compatibility */
}

@font-face {
	font-family: "PhlattGrotesk-Regular";
	src: url("../fonts/PhlattGrotesk-Regular.otf") format("opentype");
	/* Include other font formats for better compatibility */
}

body {
	font-family: "PhlattGrotesk-Regular", sans-serif;
}

nav {
	background-color: #7f8c33;
}

header {
	overflow: hidden;
}

.banner {
	background-color: #fff;
}

.logo-image {
	width: 112%;
}

li.nav-item.active {
	background-color: #e3d778 !important;
}

li.nav-item.active a.nav-link {
	color: black !important;
}

a.nav-link {
	color: #fff !important;
}

li.nav-item:hover {
	background-color: #e3d778 !important;
}

/* .welcome-image {
	background-image: url("../images/3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 0;
} */
.welcome-image {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/3.jpg");
	background-size: cover;
}

/* .pricing-image {
	background-image: url("../images/4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 0;
} */

.pricing-image {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/4.jpg");
	background-size: cover;
}

/* .media-image {
	background-image: url("../images/4.jpg");
	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 0;
} */

.welcome-text {
	background-color: #7f8c33b5;
	/* opacity: 0.5; */
	/* margin-top: -135px; */
	color: #fff;
	border-radius: 5px;
	padding: 14px;
	/* padding-top: 80px; */
	font-size: 16.5px;
	margin-bottom: 145px;
	height: 100%;
}

.contact-text {
	background-color: #7f8c33b5;
	color: #fff;
	border-radius: 5px;
	padding: 14px;
	font-size: 18px;
	height: 100%;
}

.about-image {
	width: 100%;
}

.uni-logo-image {
	width: 100%;
}

.email-text {
	text-align: right;
}

.uni-images {
	/* margin-left: 25%; */
}

.product-list {
	/* background-color: #ece3a2; */
	border-radius: 4%;
}

.pricing-cell {
	background-color: rgba(88, 81, 14, 0.7);
	border-radius: 16%;
	margin: 30px 0 0 0;
	height: 264px;
}

.pricing-heading {
	margin: 15px 0 15px 0;
	color: #fff;
}

.pricing-outer {
	background-color: #ece3a2;
	padding: 9%;
	border-radius: 16%;
}

.pricing-inner {
	background-color: #a5c758;
	border-radius: 16%;
	height: 140px;
	padding: 10%;
}

.buy-button {
	margin: 25px 0 25px 0;
	background-color: #fff;
}

footer {
	background-color: #fff;
	padding: 25px;
	/* margin-top: 30px; */
	border-top: 2px solid #7f8c33;
}

#footer-social {
	text-align: center;
}

.list-inline.social-links {
	margin-bottom: 0;
}

.social-links {
	padding-bottom: 15px;
}

.social-links li a i {
	width: 40px;
	height: 40px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 20px;
	line-height: 15px;
	text-align: center;
	color: #fafafa;
	background: #7f8c33;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	margin: 20px 20px 15px 20px;
}

.social-links li a i:hover {
	background: #e3d778;
}

.media-image {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/2.jpg");
	background-size: cover;
}

.media-image::before,
.welcome-image::before,
.pricing-image::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.2);
}

.btn {
	background-color: #fff;
}

.btn:hover {
	background-color: #e3d778;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.btn:active {
	background-color: #7f8c33;
}

.btn-pricing {
	/* margin-top: 15px; */
}

.btn-product {
	background-color: #ece3a2;
	width: 249.55px;
	margin-top: 40px;
}

.btn-product:hover {
	background-color: #a5c658;
}

.row-center-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3px;
}

/* .row {
	max-width: 100%;
} */

.welcome-btn {
	/* margin-bottom: 46px; */
	font-size: 18.5px;
	width: 249.55px;
}

.first-welcome-btn {
	margin-bottom: 46px;
	font-size: 18.5px;
	width: 249.55px;
}

#landing {
	margin-top: 110px;
}

#about,
#product {
	padding-top: 10%;
	padding-bottom: 10%;
}

#description-image {
	width: 100%;
}

/* .contact-text {
	margin-top: -135px;
} */

/* .fixed-top{

} */

.contact-col {
	margin-bottom: 1rem;
}

.circle:hover {
	background-color: #ece3a2;
	cursor: pointer;
}

.circle-text {
	/* margin-top: 50%; */
}

.circle {
	border-radius: 50%;
	border: 2px solid #a5c758;
	/* height: 234px; */
	padding: 5%;
	aspect-ratio: 1;
}

.circle-row {
	margin-bottom: 10px;
}

.side-arrow-icon {
	font-size: 3em;
	/* margin-top: 108px; */
}

.down-arrow-icon {
	font-size: 3em;
	margin-left: 40%;
	margin-top: 17%;
}

.down-arrow-row {
	height: 75px;
}

#metanoia-logo {
	background: url("../images/metanoia-diagram-logo.png") no-repeat center
		center;
	height: 83%;
	background-size: cover;
	border-radius: 50%;
}

.icon-link {
	text-decoration: none !important;
	color: #7f8c33;
}

.top-icon:hover {
	/* text-decoration: none; */
	color: #ece3a2;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.top-icon {
	display: inline;
	font-size: 21px;
	margin-right: 7%;
	color: #7f8c33;
}

.logo {
	width: 130px; /* Adjust the width as needed */
	height: auto;
}

.welcome-btn-col {
	margin-top: 210px;
}

.btn-contact {
	background-color: #ece3a2;
	width: 249.55px;
}

.btn-contact:hover {
	background-color: #a5c658;
}

.top-icon-col {
	margin-bottom: 6px;
}

.welcome-row {
	margin-top: 85px;
}

.info-text {
	color: #fff;
}

.bottom-pricing-row {
	margin-top: 65px;
	margin-bottom: -81px;
}

ul,
li {
	list-style: none;
}

.contact-list {
	padding: 2px;
	background-color: #7f8c33b5;
	border-radius: 5px;
	/* font-size: 18px; */
	height: 100%;
}

.contact-info-text {
	color: #fff;
	margin-top: 49px;
	/* margin-bottom: -34px; */
}

#gift-image {
	width: 100%;
	margin-top: -100px;
	cursor: pointer;
	/* z-index: 0; */
	display: block;
}

.present-btn {
	position: absolute;
	/* z-index: 5; */
	top: -90px;
	left: 33%;
}

#gift-text {
	position: relative;
}

.terms-list {
	margin-bottom: 0;
}
