nav {
	background-color: #7f8c33;
}

header {
	overflow: hidden;
}

.banner {
	background-color: #fff;
}

.logo-image {
	width: 90%;
}

li.nav-item.active {
	background-color: #e3d778 !important;
}

li.nav-item.active a.nav-link {
	color: black !important;
}

a.nav-link {
	color: #fff !important;
}

/* .welcome-image {
	background-image: url("../images/3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 0;
} */
.welcome-image {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/3.jpg");
	background-size: cover;
}

/* .pricing-image {
	background-image: url("../images/4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 0;
} */

.pricing-image {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/4.jpg");
	background-size: cover;
}

/* .media-image {
	background-image: url("../images/4.jpg");
	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 0;
} */

.welcome-text {
	background-color: #7f8c33b5;
	/* opacity: 0.5; */
	margin-top: -135px;
	color: #fff;
	border-radius: 5px;
	padding: 14px;
	font-size: 18px;
	height: 100%;
}

.contact-text {
	background-color: #7f8c33b5;
	color: #fff;
	border-radius: 5px;
	padding: 14px;
	font-size: 18px;
	height: 100%;
}

.about-image {
	width: 100%;
}

.uni-logo-image {
	width: 30%;
}

.email-text {
	text-align: right;
}

.uni-images {
	margin-left: 25%;
}

.circle {
	border-radius: 50%;
	border: 5px solid black;
	height: 170px;
}

.product-list {
	background-color: #ece3a2;
	border-radius: 4%;
}

.pricing-cell {
	background-color: #ece3a2c4;
	border-radius: 4%;
	margin: 30px 0 0 0;
	height: 264px;
}

.pricing-heading {
	margin: 15px 0 15px 0;
}

.pricing-outer {
	background-color: #847c3a;
	padding: 9%;
	border-radius: 6%;
}

.pricing-inner {
	background-color: #a5c758;
	border-radius: 5%;
	height: 140px;
	padding: 10%;
}

.buy-button {
	margin: 25px 0 25px 0;
	background-color: #fff;
}

footer {
	background-color: #fff;
	padding: 25px;
	/* margin-top: 30px; */
	border-top: 2px solid #7f8c33;
}

#footer-social {
	text-align: center;
}

.list-inline.social-links {
	margin-bottom: 0;
}

.social-links {
	padding-bottom: 15px;
}

.social-links li a i {
	width: 40px;
	height: 40px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 20px;
	line-height: 15px;
	text-align: center;
	color: #fafafa;
	background: #7f8c33;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	margin: 20px 20px 15px 20px;
}

.social-links li a i:hover {
	background: #e3d778;
}

.media-image {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/2.jpg");
	background-size: cover;
}

.media-image::before,
.welcome-image::before,
.pricing-image::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.2);
}

.btn {
	background-color: #e3d778;
}

.btn:hover {
	background-color: #fff;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.btn:active {
	background-color: #7f8c33;
}

.btn-pricing {
	margin-top: 15px;
}

.row-center-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3px;
}

/* .row {
	max-width: 100%;
} */

.welcome-btn {
	width: 185px;
}

#landing {
	margin-top: 90px;
}

#about,
#product {
	padding-top: 10%;
	padding-bottom: 10%;
}

#description-image {
	width: 100%;
}

/* .contact-text {
	margin-top: -135px;
} */

/* .fixed-top{

} */
